@using Microsoft.AspNetCore.Mvc;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - restraunt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/restraunt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/w3/w3schools.com_w3css_4_w3.css" asp-append-version="true" />

    @* font awesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/fonts/font-awesome.css" asp-append-version="true" />

    <style>
        .popups {
            position: fixed;
            background-color: rgba(255, 255, 255, 0.25);
            right: 0;
            bottom: 50px;
            transform: translate(-50px, -250px);
            z-index: 999;
            visibility: hidden;
            opacity: 1;
            pointer-events: none;
            transition: all 0.3s;

            &:target {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }

        &>div {
            width: 900px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            background: white;
        }
    </style>
</head>

<body>

    <header >
        <nav class="navbar navbar-expand-lg navbar-dark navbar-smaller"
            style="background-color: maroon;font-size:15px;">
            <div class="container-fluid header_layout">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome to our app</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a class="nav-link" href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@info.com</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-phone" aria-hidden="true"></i> +1212121</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fyoughal.ie%2Fwp-content%2Fuploads%2F2018%2F11%2FLogo-with-transparent-background-1-1.png&f=1&nofb=1&ipt=06c9fb76013cf72cc887830adb04dbab3a63393831e784324149b39baf6009ab&ipo=images"
                        alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                </a>
            </div>
            <div class="container-fluid" style="color: white; padding: 10px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Logged_index">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Checkout">Contact
                                Us</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav flex-grow-1 mr-3">
                        <a href="#popsup">
                            <button type="button" class="btn btn-warning" href="#popsup">Book Table</button></a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Cart</a>
                        </li>

                        @if(Context.User.Identity.IsAuthenticated){

                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="" title="Manage">Hello,@Context.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">LogOut</a>
                            </li>
                                
                        }
                        else{
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User"
                                asp-action="Temp2">SignIn</a>
                        </li>
                    }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid footer-layout" style="position:absolute;">
            &copy; 2023 - restraunt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>