<html>
    <style>
        
    </style>
    <div class="col -8">
        <div class="card" style="width: 60%;">
            <div class="card-body">
              <div class="row" style="display: flex;align-items: center;margin-bottom: 15px;">
                <div class="col-6"><h6 class="information">General information</h6></div>
                <div class="col-6" style="display: flex; justify-content: flex-end;"><button type="button" class="btn btn-warning">Edit</button></div>
            </div>
              <p class="name">Nabina Giri</p>
              <p class="number">9841******</p>
              <p class="email">contactme@gmail.com</p>

              <div class="card">
                <div class="card">
                    <div class="row" style="display: flex;align-items: center;margin-bottom: 15px;">
                        <div class="col-6 "><h6 class="Address">Kathmandu Metropoltian City Ward No. 32</h6></div>
                        <div class="col-6" style="display: flex; justify-content: flex-end;align-items: center;"><button type="button" class="btn btn-warning">Change</button></div>
                </div>
              </div>
            </div>
          </div>
    </div>

</html>